/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* Variables */
:root {
    --gray-00: #fff;
    --gray-05: #f5f6f7;
    --gray-10: #dfdfe2;
    --gray-15: #d0d0d5;
    --gray-90: #0a0a23;
    --gray-85: #1b1b32;
    --gray-80: #2a2a40;
    --gray-75: #3b3b4f;
    --yellow: #f1be32;
}

/* General Styling */
html {
    font-size: 62%;
}

html, body {
    font-family: 'Lato', sans-serif;
    background-color: var(--gray-05);
    color: var(--gray-90);
}

a {
    text-decoration: none;
    color: var(--gray-75);
    font-size: 1.6rem;
}

li {
    list-style: none;
}


/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Typography */
p {
    font-size: 2rem;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

/* Navigation */
nav {
    background-color: var(--gray-90);
    padding-block: 6px;
}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo-img {
    width: 150px;
    padding-top: 8px;
}

nav .nav-links {
    display: flex;
    gap: 16px;
}

nav .nav-links a {
    color: var(--yellow);
    display: inline-block;
    padding: 8px;
    border-radius: 10px;

}

nav .nav-links a:hover {
    background-color: var(--gray-00);
    color: var(--gray-90);
}

nav .nav-link i {
    margin-left: 8px;
}

/* Header */
header {
    margin-block: 64px;
}

header .header-container {
    max-width: 750px;
    padding-inline: 12px;
    margin: 0 auto;
}

header #title {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 24px;
}

header #title,
header .title-icon {
    text-align: center;
}

header .title-icon {
    display: block;
    font-size: 88px;
    margin-bottom: 24px;
}

header .header-text a:hover,
.footer-link:hover {
    background-color: var(--gray-10);
    color: var(--gray-90);
}

header .header-text,
header aside .aside-text {
    line-height: 1.25;
}

header aside {
    font-size: 20px;
    margin-top: 32px;
    padding: 18px 12px;
    color: #4d6580;
    border: 1px solid #b8d9ff;
    background-color: #cce4ff;
}

header .aside-text a {
    color: #2e3c4c;
    border-bottom: 2px solid #b8d9ff;
}

header .aside-text a:hover {
    background-color: #b8d9ff;
}

/* Main Section */
main {
    margin-bottom: 64px;
}

main form {
    color: var(--gray-00);
    background-color: var(--gray-90);
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
}

main form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 24px auto;
}

main form label,
main form input,
main form select,
main form textarea {
    display: block;
    font-size: 20px;
    padding: 4px 8px;
}

main form label {
    margin-top: 12px;
    margin-bottom: 6px;
}

main form label span {
    font-size: 16px;
    font-style: italic;
}

main form input[type="radio"],
main form input[type="checkbox"] {
    display: inline;
    margin-right: 12px;
}

main form textarea {
    resize: none;
}

main form input[type="submit"] {
    border: none;
    cursor: pointer;
    background-color: #00471b;
    color: #acd157;
    padding: 12px;
}

main form input[type="submit"]:hover {
    background-color: #acd157;
    color: #00471b;
}

/* Footer */
footer {
    text-align: center;
    padding-block: 16px;
}

footer .footer-text {
    font-size: 16px;
}

@media(max-width: 768px) {
    /* Navigation */
    .nav-container {
        flex-direction: column;
        gap: 16px;
    }

    /* Header */
    header #title {
        font-size: 32px;
    }

    header .header-text,
    header aside .aside-text {
        line-height: 1.5;
    }

    /* Main Section */
    main form fieldset {
        width: 100%;
    }
}