// Buttons
.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    color: var(--gray-90);
    border: 4px solid var(--gray-90);
    background: var(--gray-15);
    padding: 16px;

    &-form {
        width: 60%;

        @media(max-width: 767px) {
            width: 84%;
        }
    }

    &:hover {
        background: var(--gray-10);
    }
}

// Aside Container
.aside {
    color: var(--aside-text);
    border: 1px solid var(--aside-border);
    background: var(--aside-bg);

    &-text {
        font-size: 1.8rem;

        &-link {
            color: var(--aside-text);
            border-bottom: 1px solid var(--aside-text);

            &:hover {
                color: var(--aside-bg);
                background: var(--aside-text);
            }
        }
    }
}