// Main Form
.form {
    &-fieldset-legend {
        font-size: 2.4rem;
        font-weight: 800;
        width: 100%;
        border-bottom: 4px solid var(--gray-10);
    }

    &-label,
    &-input {
        display: block;
        font-size: 2rem;

        &-sm {
            font-size: 1.6rem;
            font-style: italic;
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
        border: 1px solid var(--gray-10);
        width: 70%;

        &:required:focus {
            outline: 1px solid var(--gray-15);

            &:valid {
                outline-color: #40c057;
                border-color: #40c057;
            }

            &:invalid {
                outline-color: #e03131;
                border-color: #e03131;
            }
        }

        @media(max-width: 767px) {
            width: 80%;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        display: inline;
        margin-right: 12px;
    }

    textarea {
        resize: none;
    }
}