// Variables
:root {
    --gray-00: #fff;
    --gray-05: #f5f6f7;
    --gray-10: #dfdfe2;
    --gray-15: #d0d0d5;
    --gray-90: #0a0a23;
    --gray-85: #1b1b32;
    --gray-80: #2a2a40;
    --gray-75: #3b3b4f;
    --yellow: #f1be32;
    --aside-bg: #d9edf7;
    --aside-border: #d4eef3;
    --aside-text: #5b90a9;
    --placeholder-bg: #99c9ff;
    --placeholder-text: #5a89dd;
}

// Container
.container {
    max-width: 1100px;

    &-secondary { max-width: 1000px }
    &-tertiary { max-width: 800px }
}

// Gap
.gap {
    &-1 { gap: 8px }
    &-2 { gap: 16px }
    &-3 { gap: 24px }
}

// Padding
.py {
    &-0 { padding-block: 8px }
    &-1 { padding-block: 24px }
    &-2 { padding-block: 32px }
    &-3 { padding-block: 44px }
}

.pi {
    &-1 { padding-inline: 8px }
    &-2 { padding-inline: 12px }
}

.p {
    &-1 { padding: 8px }
    &-2 { padding: 12px }
    &-3 { padding: 16px }
}

// Margin
.my {
    &-1 { margin-block: 12px }
    &-2 { margin-block: 24px }
    &-3 { margin-block: 80px }
}

.m {
    &-auto { margin-inline: auto }
}