@use 'reset';
@use 'utilities';
@use 'layout';
@use 'typography';
@use 'components';
@use 'form';

/* General Styling */
html {
    font-size: 62%;
}

html, body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-color: var(--gray-05);
    color: var(--gray-90);
}

img {
    max-width: 100%;
}

/* Navigation */
.nav {
    position: sticky;
    top: 0;
    background-color: var(--gray-90);
}

nav .logo-img {
    width: 225px;
    padding-top: 8px;
}

nav .nav-links {
    font-size: 1.6rem;
}

nav .nav-links a {
    color: var(--yellow);
    display: inline-block;
    padding: 8px;
    border-radius: 10px;

}

nav .nav-links a:hover {
    background-color: var(--gray-00);
    color: var(--gray-90);
}

nav .nav-link i {
    margin-left: 8px;
}
