@use 'reset';
@use 'utilities';
@use 'layout';
@use 'typography';
@use 'components';

/* General Styling */
html {
    font-size: 62%;
}

html, body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-color: var(--gray-05);
    color: var(--gray-90);
}

img {
    max-width: 100%;
}

.aside-text-alt {
    text-align: right;
}

.main .form input[type="submit"],
.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border: 4px solid var(--gray-90);
    background-color: var(--gray-15);
    color: var(--gray-90);
    padding: 16px;
}

.main .form input[type="submit"]:hover,
.btn:hover {
    background-color: var(--gray-10);
}

.btn-projects {
    margin: 12px;
}

/* Navigation */
.nav {
    position: sticky;
    top: 0;
    background-color: var(--gray-90);
}

nav .logo-img {
    width: 225px;
    padding-top: 8px;
}

nav .nav-links {
    font-size: 1.6rem;
}

nav .nav-links a {
    color: var(--yellow);
    display: inline-block;
    padding: 8px;
    border-radius: 10px;

}

nav .nav-links a:hover {
    background-color: var(--gray-00);
    color: var(--gray-90);
}

nav .nav-link i {
    margin-left: 8px;
}

/* Header */
.header #title {
    font-size: 4.4rem;
    font-weight: 600;
    margin-block: 36px;
}

.header #title,
.header .title-icon {
    text-align: center;
}

.header .title-icon {
    display: block;
    font-size: 9.6rem;;
    margin-bottom: 36px;
}

.header .header-text a {
    color: var(--gray-90);
    border-bottom: 1px solid var(--gray-90);
}

.header .header-text a:hover,
.footer-link:hover {
    background-color: var(--gray-90);
    color: var(--gray-05);
}

.header .header-text,
.header .aside-text {
    line-height: 1.5;
}

.header .header-aside {
    margin-block: 32px;
    padding: 18px;
    color: var(--aside-text);
    border: 1px solid var(--aside-border);
    background-color: var(--aside-bg);
}

.header .aside-text {
    font-size: 1.8rem;
}

.header .aside-text a {
    color: var(--aside-text);
    border-bottom: 1px solid var(--aside-text);
}

.header .aside-text a:hover {
    color: var(--aside-bg);
    background-color: var(--aside-text);
}

/* Main Section */
.main .form {
    padding-inline: 8px;
}

.main .form .form-fieldset {
    margin-bottom: 64px;
}

.main .form .form-fieldset-legend {
    width: 100%;
    font-size: 2.4rem;
    font-weight: 800;
    padding-bottom: 2px;
    border-bottom: 4px solid var(--gray-10);
}

.main .form label,
.main .form input,
.main .form select,
.main .form textarea {
    display: block;
    font-size: 2rem;
    padding: 4px 8px;
}

.main .form input[type="text"],
.main .form input[type="email"],
.main .form input[type="number"],
.main .form select,
.main .form textarea {
    width: 80%;
}

.main .form label {
    margin-top: 12px;
    margin-bottom: 6px;
}

.main .form label span {
    font-size: 1.6rem;
    font-style: italic;
}

.main .form input[type="radio"],
.main .form input[type="checkbox"] {
    display: inline;
    margin-right: 12px;
}

.main .form textarea {
    resize: none;
}

/* Projects */
.projects-accordion-menu {
    background-color: #fff;
}

.projects-detail {
    padding-block: 12px;
    margin-bottom: 4px;
}

.projects-title {
    font-weight: 600;
    font-size: 2.4rem;
    padding: 32px 24px;
    border-bottom: 1px solid var(--gray-10);
}

.projects-title:hover {
    cursor: pointer;
    background-color: #ccc;
}

.projects-image {
    width: 90%;
    padding: 12px;
}

.projects-info {
    padding: 12px;
    line-height: 1.5;
}

/* Footer */
footer {
    text-align: center;
    padding-block: 16px;
    background-color: var(--gray-15);
}

footer .footer-text {
    font-size: 16px;
}

@media(max-width: 768px) {
    /* Navigation */
    .nav-container {
        flex-direction: column;
        gap: 16px;
    }

    /* Header */
    header #title {
        font-size: 32px;
    }

    header .header-text,
    header aside .aside-text {
        line-height: 1.5;
    }
}