// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // Dark Colors
    --gray-90: #0a0a23;
    --gray-85: #1b1b32;
    --gray-80: #2a2a40;
    --gray-75: #3b3b4f;
    // Light Colors
    --gray-00: #fff;
    --gray-05: #f5f6f7;
    --gray-10: #dfdfe2;
    --gray-15: #d0d0d5;
}

html, body {
    background-color: var(--gray-05);
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

// Header
.header {
    background-color: var(--gray-90);
    padding: 0.5rem 1rem;
    text-align: center;

    &__title {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.5rem;
    }

    &__link {
        text-decoration: none;
        color: var(--gray-05);
        padding: 0.5rem 1rem;
    }
}